 body {
    background: #4789EF;
    color: white;
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: 700;
  }
  a,
  a:hover,
  a:visited {
    color: white;
    text-decoration: none;
  }
  .weatherWidget{
    width: 400px;
    height: 200px;
    margin: 150px auto;

  }